<mat-card-header>
    <div mat-card-avatar>
        <content-loader height="80" width="80" speed="2">
            <svg:circle cx="40" cy="40" r="40" />
        </content-loader>
    </div>
    <mat-card-title>
        <div class="content-loader">
            <content-loader [height]="17" [width]="180">
                <svg:rect x="0" y="5" width="150" height="10" />
            </content-loader>
        </div>
    </mat-card-title>
    <mat-card-subtitle>
        <div class="content-loader">
            <content-loader height="17" width="180">
                <svg:rect x="0" y="0" width="100" height="10" />
            </content-loader>
        </div>
    </mat-card-subtitle>
</mat-card-header>