<app-resources-search></app-resources-search>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <ngx-masonry [options]="{ transitionDuration: '0.8s', horizontalOrder: true, columnWidth: '.masonry-item-sizer', percentPosition: true, itemSelector: '.masonry-item'}"
        [useImagesLoaded]="true">
        <div class="masonry-item-sizer"></div>
        <div class="gutter-sizer"></div>
        <ngxMasonryItem class="masonry-item" *ngFor="let resource of resources">
            <app-resource-card [resource]="resource"></app-resource-card>
        </ngxMasonryItem>
    </ngx-masonry>
</div>
