<form>
  <mat-form-field>
    <input matInput placeholder="Search Resources" aria-label="Search Resources" [matAutocomplete]="auto" [formControl]="searchCtrl" (keydown.enter)="search()">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
      <mat-option *ngFor="let searchResult of searchResults" [value]="searchResult.name">
        <mat-icon aria-label="listen" class="mat-icon material-icons" role="img" aria-hidden="true">play_arrow</mat-icon>
        <span>{{ searchResult.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  
</form>
