<mat-card class="resource-card">
  <mat-card-header [routerLink]="['/resources', resource.id ]">
    <img loading="lazy" mat-card-avatar [src]="resource.author?.avatar" alt="" *ngIf="resource.author?.avatar" />
    <span mat-card-avatar *ngIf="!resource.author?.avatar">{{resource.author?.name | userInitials}}</span>
    <mat-card-title>{{ resource.title }}</mat-card-title>
    <mat-card-subtitle>
      {{resource.author?.name}}, {{resource.dateTime?.toDate() | date}}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="mat-card-image" *ngIf="resource.cover?.url" [routerLink]="['/resources', resource.id ]">
    <img [src]="resource.cover.thumbnailUrl" alt="" loading="lazy" width="{{width}}" height="{{height}}" />
    <mat-icon mat-list-icon>photo</mat-icon>
  </div>
  <mat-card-actions align="end">
    <!-- <button mat-icon-button>
      <mat-icon aria-label="share">share</mat-icon>
    </button> -->
    <div fxFlex></div>
    <app-like-button-shell [resource]="resource"></app-like-button-shell>
    <a [href]="resource.downloadUrl" download mat-icon-button [disabled]="!resource.downloadUrl">
      <mat-icon aria-label="download">get_app</mat-icon>
    </a>
    <audio-play-button [audioResource]="resource | convertToAudioResource"></audio-play-button>
  </mat-card-actions>
</mat-card>
