<mat-card class="resource-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" [src]="resource.author?.avatar" alt="" *ngIf="resource.author?.avatar" />
    <span mat-card-avatar *ngIf="!resource.author?.avatar">{{resource.author?.displayName | userInitials}}</span>
    <mat-card-title [routerLink]="[ resource.id ]">{{ resource.title }}</mat-card-title>
    <mat-card-subtitle>
      {{resource.author?.displayName}}, {{resource.dateTime?.toDate() | date}}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="mat-card-image" *ngIf="resource.cover?.url" [style.height.px]="height" [routerLink]="[ resource.id ]">
    <img [src]="resource.cover.url" alt="" />
  </div>
  <mat-card-actions align="end">
    <!-- <button mat-icon-button>
      <mat-icon aria-label="share">share</mat-icon>
    </button> -->
    <div fxFlex></div>
    <button *ngIf="!inLibrary" mat-icon-button (click)="onSaveToLibrary(resource)">
      <mat-icon aria-label="favorite">favorite_border</mat-icon>
    </button>
    <button *ngIf="inLibrary" color="primary" mat-icon-button (click)="onRemoveFromLibrary(resource)">
      <mat-icon aria-label="unfavorite">favorite</mat-icon>
    </button>
    <a [href]="resource.downloadUrl" download mat-icon-button [disabled]="!resource.downloadUrl">
      <mat-icon aria-label="download">get_app</mat-icon>
    </a>
    <app-audio-play-button-shell [audioResource]="resource | convertToAudioResource"></app-audio-play-button-shell>
  </mat-card-actions>
</mat-card>
