@import '~styles-variables.scss';

.audio-player-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: $audioPlayerHeight;

  .audio-player-artwork {
    margin-right: 10px;
    cursor: pointer;

    img {
      height: 56px;
      vertical-align: baseline;
    }
  }

  .audio-player-controls {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    .audio-player-header {
      display: flex;
      align-items: center;
      flex-direction: row;

      .track-info-title {
        flex: 1;
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }

      .seeking {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;

        .mat-progress-spinner {
          margin: 0 auto;
        }
      }
    }

    .audio-player-waveform {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex: 1;
      cursor: pointer;
      padding-bottom: 5px;

      .progress-time {
        width: 40px;
        text-align: center;
      }
    }
  }
}

/* XSmall */

@media (max-width: 599px) {
  .audio-player-content {
    margin-left: -10px;
    margin-right: -10px;

    .audio-player-artwork {
      display: none;
    }

    .audio-player-header {
      flex-flow: row-reverse !important;
    }
  }
}
