<div class="container mt-1 mb-1">
  <div class="video-player-width" #columnSizer></div>
  <mat-card class="mat-card-flat">
    <ng-container *ngIf="resource">
      <mat-card-header class="">
        <img loading="lazy" mat-card-avatar [src]="resource.author?.avatar" alt="" *ngIf="resource.author?.avatar" />
        <span mat-card-avatar *ngIf="!resource.author?.avatar">{{resource.author?.name | userInitials}}</span>
        <mat-card-title>{{ resource.title }}</mat-card-title>
        <mat-card-subtitle>{{resource.author?.name}}, {{resource.dateTime?.toDate() | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="resource.description">
        <p>{{resource.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <app-resource-tags *ngIf="resource.tags?.length" [tags]="resource.tags"></app-resource-tags>
        <div fxFlex></div>
        <app-like-button-shell [resource]="resource"></app-like-button-shell>
        <a [href]="resource.downloadUrl" download mat-icon-button *ngIf="resource.downloadUrl">
          <mat-icon aria-label="download">get_app</mat-icon>
        </a>
        <audio-play-button *ngIf="resource.streamUrl" [audioResource]="resource | convertToAudioResource"></audio-play-button>
      </mat-card-actions>
      <div class="mat-card-image image-with-placeholder" [style.height.px]="height" [style.width.px]="width">
        <img *ngIf="resource.cover?.url && !resource?.videoId" [src]="resource.cover.thumbnailUrl" alt="" loading="lazy" [height]="height" [width]="width" />
        <app-video-player *ngIf="viewInitalized && resource?.videoId" [videoId]="resource?.videoId" [height]="height" [width]="width"></app-video-player>
        <mat-icon mat-list-icon>{{resource.type | resourceIcon}}</mat-icon>
      </div>
    </ng-container>
  </mat-card>
</div>
