<div class="container mt-1 mb-1" *ngIf="resource">
  <mat-card class="mat-card-flat">
    <mat-card-header class="">
      <img loading="lazy" mat-card-avatar [src]="resource.author?.avatar" alt="" *ngIf="resource.author?.avatar" />
      <span mat-card-avatar *ngIf="!resource.author?.avatar">{{resource.author?.name | userInitials}}</span>
      <mat-card-title>{{ resource.title }}</mat-card-title>
      <mat-card-subtitle>{{resource.author?.name}}, {{resource.dateTime?.toDate() | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <app-like-button-shell [resource]="resource"></app-like-button-shell>
      <a [href]="resource.downloadUrl" download mat-icon-button [disabled]="!resource.downloadUrl">
        <mat-icon aria-label="download">get_app</mat-icon>
      </a>
      <audio-play-button [audioResource]="resource | convertToAudioResource"></audio-play-button>
      <div fxFlex></div>
    </mat-card-actions>
    <div class="mat-card-image" *ngIf="resource.cover?.url">
      <img [src]="resource.cover.url" alt="" loading="lazy" />
      <mat-icon mat-list-icon>photo</mat-icon>
    </div>
    <mat-card-content *ngIf="resource.description">
      <p>{{resource.description}}</p>
      <app-resource-tags *ngIf="resource.tags?.length" [tags]="resource.tags"></app-resource-tags>
    </mat-card-content>
  </mat-card>
</div>
