<button class="search-form__button search-form__search-button" mat-icon-button (click)="onStartSearch()">
  <mat-icon aria-label="Search resources">search</mat-icon>
</button>
<div class="search-form" [class.search-form--open]="showSearch">
  <form class="search-form__form">
    <input
      class="global-search search-form__input"
      matInput
      placeholder="Search"
      aria-label="Search Resources"
      #searchInput
      #matAutocompleteTrigger
      [matAutocomplete]="auto"
      [formControl]="searchCtrl"
      (keydown.enter)="search()"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" showPanel="">
      <mat-option *ngFor="let searchResult of searchResults" [value]="searchResult.name">
        <span>{{ searchResult.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </form>
  <button class="search-form__button search-form__clear-button" mat-icon-button (click)="onStopSearch()" color="primary">
    <mat-icon aria-label="Clear">clear</mat-icon>
  </button>
</div>
