<form class="search-form">
  <mat-form-field>
    <input
      class="global-search"
      matInput
      aria-label="Search Resources"
      #searchInput
      #matAutocompleteTrigger
      [matAutocomplete]="auto"
      [formControl]="searchCtrl"
      (keydown.enter)="search()"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" showPanel="">
      <mat-option *ngFor="let searchResult of searchResults" [value]="searchResult.name">
        <span>{{ searchResult.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
