@import '~@angular/material/theming';

@mixin ekklesia-app-resource-search-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .global-search {
    caret-color: mat-color($primary, default-contrast);
  }

  .search-form {
    background-color: mat-color($primary, default-contrast);
  }

  .search-form__input {
    color: $dark-primary-text;
  }
}
