<button *ngIf="showSearch" class="search-form__button search-form__close" mat-icon-button (click)="stopSearch()" color="primary">
  <mat-icon aria-label="Clear">arrow_back</mat-icon>
</button>
<form class="search-form" [class.search-open]="showSearch">
  <input
    class="global-search search-form__input"
    matInput
    placeholder="Search"
    aria-label="Search Resources"
    #searchInput
    #matAutocompleteTrigger
    [matAutocomplete]="auto"
    [formControl]="searchCtrl"
    (keydown.enter)="search()"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" showPanel="">
    <mat-option *ngFor="let searchResult of searchResults" [value]="searchResult.name">
      <span>{{ searchResult.name }}</span>
    </mat-option>
  </mat-autocomplete>
</form>
<button *ngIf="searchCtrl.value" class="search-form__button" mat-icon-button (click)="clearSearch()" color="primary">
  <mat-icon aria-label="Search resources">clear</mat-icon>
</button>
<button class="search-form__button" mat-icon-button (click)="!showSearch ? startSearch() : search()" [color]="showSearch ? 'primary': null">
  <mat-icon aria-label="Search resources">search</mat-icon>
</button>
