<div class="container-fluid">
  <h1>Resources</h1>
  <mat-form-field class="filter-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort ngClass.lt-md="lt-md">
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td class="cursor--pointer" mat-cell *matCellDef="let element" (click)="onSelectItem(element)">
        <div>
          <span class="status-badge status-badge__success" *ngIf="element.published; else elseTemplate">
            <mat-icon>visibility</mat-icon>
            <span>Published</span>
          </span>
          <ng-template #elseTemplate>
            <span class="status-badge status-badge__info">
              <mat-icon>visibility_off</mat-icon>
              <span>Not Published</span>
            </span>
          </ng-template>
        </div>
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td class="cursor--pointer" mat-cell *matCellDef="let element" (click)="onSelectItem(element)">
        {{element.title}}
      </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let element">
        <app-author-signature [author]="element.author"></app-author-signature>
      </td>
    </ng-container>

    <!-- DateTime Column -->
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Time</th>
      <td mat-cell *matCellDef="let element">{{element.dateTime?.toDate() | date}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onSelectItem(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
            <span>Edit</span>
          </button>
          <a [href]="element.downloadUrl" mat-menu-item [disabled]="!element.downloadUrl">
            <mat-icon aria-label="Download">get_app</mat-icon>
            <span>Download</span>
          </a>
          <button mat-menu-item title="publish" *ngIf="!element.published" (click)="publishResource(element)">
            <mat-icon aria-label="publish">visibility</mat-icon>
            <span>Publish</span>
          </button>
          <button title="unpublish" *ngIf="element.published" mat-menu-item (click)="unpublishResource(element)">
            <mat-icon aria-label="Unpublish">visibility_off</mat-icon>
            <span>Unpublish</span>
          </button>
          <button mat-menu-item (click)="deleteItemWithConfirmation(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button class="mat-fab--bottom-right" type="button" mat-fab (click)="initializeNewItem()" color="primary">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</div>
