@import '~styles-variables.scss';

.web-portal-app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $topAppBarHeight;
  bottom: 0;
  left: 0;
  right: 0;

  &.audio-player-visible {
    bottom: $audioPlayerHeight;
  }
}

@media (max-width: 599px) {
  .web-portal-app {
    top: $topAppBarHeightSm;
  }
}

app-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-sidenav-container {
  flex: 1;
}

app-bottom-nav {
  z-index: 2;
}
