<div class="web-portal-app">
  <app-main-nav
    class="mat-elevation-z6"
    [user]="user$ | async"
    (toggleSidenavEvent)="sidenav.toggle()"
    (signInEvent)="signIn()"
    (signOutEvent)="signOut()"
    (upgradeAnnonymousEvent)="upgradeAnnonymous()"
  ></app-main-nav>
  <mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationItems" routerLinkActive="active" [routerLink]="[item.routerLink]">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <span matLine>{{item.name}}</span>
        </a>
        <a *ngIf="shouldDisplayAdmin(user$ | async)" mat-list-item routerLinkActive="active" [routerLink]="['/admin']">
          <mat-icon mat-list-icon>settings</mat-icon>
          <span matLine>Admin Portal</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-bottom-nav></app-bottom-nav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
