@import '../../styles-variables.scss';

.main-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $topAppBarHeight;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 599px) {
  .main-content {
    top: $topAppBarHeightSm;
  }
}

app-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin-bottom: 24px;
}
