@import '../../../../styles-variables.scss';

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  color: white;
}

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &__button {
    width: $topAppBarHeight;
    height: $topAppBarHeight;
  }
}

@media (max-width: 599px) {
  .header__button {
    height: $topAppBarHeightSm;
    width: $topAppBarHeightSm;
  }
}

.mat-toolbar-single-row {
  padding: 0;
}

.user-display {
  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__initials {
    border-radius: 50%;
    height: 43px;
    width: 43px;
    line-height: 43px;
  }
}
