@import '../../../../styles-variables.scss';

.example-spacer {
  flex: 1 1 auto;
}

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &__main-nav {
    padding-right: 50px;
  }
}

a {
  color: white;
}
