<div class="slider_item" [routerLink]="['/resources', resource.id ]">
  <div class="image-with-placeholder" [style.height.px]="height" [style.width.px]="width">
    <img *ngIf="resource?.cover?.thumbnailUrl" [src]="resource?.cover?.thumbnailUrl" alt="" loading="lazy" />
    <mat-icon mat-list-icon>mic</mat-icon>
  </div>
  <span class="title" [style.width.px]="width" title="{{resource?.title}}">{{resource?.title}}</span>
  <span class="subtitle secondary-text" [style.width.px]="width" title="{{resource?.title}}">
    {{resource?.author?.name}}
    <span *ngIf="resource?.author?.name">,&nbsp;</span>
    {{resource?.dateTime?.toDate() | date}}
  </span>
</div>
