.mat-drawer--author {
  width: 400px;
}

.mat-drawer--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-authors-list {
  height: inherit;
}

mat-drawer-container {
  height:inherit;
}
