<mat-drawer-container hasBackdrop="false">
  <mat-drawer class="mat-drawer--author" #drawer mode="over" opened position="end" *ngIf="currentAuthor$ | async as currentAuthor">
    <app-author [author]="currentAuthor" (create)="createAuthor($event)" (update)="updateAuthor($event)" (delete)="deleteAuthor($event)"
      (clearSelected)="clearSelectedAuthor()"></app-author>
  </mat-drawer>
  <mat-drawer-content>
    <app-authors-list [authors]="authors$ | async" (delete)="deleteAuthor($event)" (initializeNew)="newAuthor()"
      (select)="selectAuthor($event)"></app-authors-list>
  </mat-drawer-content>
</mat-drawer-container>
