<div style="width:400px; height:200px">
  <content-loader width="400" height="200" speed="2">
    <svg:circle cx="32" cy="32" r="16" />
    <svg:rect x="64" y="20" rx="5" ry="5" width="300" height="10" />
    <svg:rect x="64" y="35" rx="5" ry="5" width="180" height="10" />
    <svg:circle cx="32" cy="88" r="16" />
    <svg:rect x="64" y="75" rx="5" ry="5" width="300" height="10" />
    <svg:rect x="64" y="90" rx="5" ry="5" width="180" height="10" />
    <svg:circle cx="32" cy="144" r="16" />
    <svg:rect x="64" y="130" rx="5" ry="5" width="300" height="10" />
    <svg:rect x="64" y="145" rx="5" ry="5" width="180" height="10" />
  </content-loader>
</div>