<div class="container-fluid">
  <h1>Authors</h1>
  <mat-form-field class="filter-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="authors">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element?.avatar" class="avatar" [src]="element.avatar">
      </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td class="cursor--pointer" mat-cell *matCellDef="let element" (click)="selectItem(element)">
        {{element.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td class="cursor--pointer" mat-cell *matCellDef="let element" (click)="selectItem(element)">
        {{element.lastName}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="selectItem(element)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItemWithConfirmation(element)">
          <mat-icon aria-label="Clear">clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button class="mat-fab--bottom-right" type="button" mat-fab (click)="initializeNewItem()" color="primary">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</div>
