table {
  width: 100%;
}

.mat-column-actions {
  width: calc(2 * 40px);
  text-align: center;
}

.mat-column-position {
  width: 60px;
}

.mat-column-avatar {
  width: 60px;
}

.filter-field {
  font-size: 14px;
  width: 100%;
}
