table {
    width: 100%;
}

.mat-column-actions {
    width: 120px;
    text-align: center;
}

.mat-column-position {
    width: 60px;
}

.mat-column-avatar {
    width: 80px;

}

.avatar {
    height: 30px;
}

.filter-field {
    font-size: 14px;
    width: 100%;
}
