@import 'tables';

.admin-app {
  mat-drawer {
    width: 500px;

    .mat-drawer--header,
    .item-viewer--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .item-viewer--actions,
    .item-viewer--title {
      display: flex;
      align-items: center;
    }
  }

  .status-badge {
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;

    &__info {
      color: #949494;
      background-color: rgba(148, 148, 148, 0.15);
    }

    &__success {
      color: #40a348;
      background-color: rgba(64, 163, 72, 0.15);
    }

    span {
      padding-left: 8px;
    }
  }
}
