<div class="container-fluid margin-top__default">
  <div class="resources__filters">
    <button mat-button [matMenuTriggerFor]="orderByMenu">{{selectedOrderedBy?.viewValue}}</button>
    <mat-menu #orderByMenu="matMenu" xPosition="before">
      <button mat-menu-item *ngFor="let item of orderByOptions" (click)="onOrderByChanged(item)">{{item.viewValue}}</button>
    </mat-menu>
    <button mat-icon-button (click)="toggleDirection(orderByDirection)" *ngIf="orderByDirection$ | async as orderByDirection">
      <mat-icon *ngIf="orderByDirection === 'desc'">arrow_downward</mat-icon>
      <mat-icon *ngIf="orderByDirection === 'asc'">arrow_upward</mat-icon>
    </button>
  </div>
</div>
<div
  infiniteScroll
  (scrolled)="getNextResources()"
  [infiniteScrollContainer]="'mat-sidenav-content'"
  [fromRoot]="true"
  [infiniteScrollDisabled]="(loading$ | async) || !(nextPage$ | async)"
>
  <ng-template #resourceCard let-item let-masonryColumnWidth="masonryColumnWidth">
    <app-resource-card
      [resource]="item"
      [width]="masonryColumnWidth"
      (saveToLibrary)="onSaveToLibrary($event)"
      (removeFromLibrary)="onRemoveFromLibrary($event)"
      [inLibrary]="((userLibrary$ | async) || []).indexOf(item.id) > -1"
    ></app-resource-card>
  </ng-template>

  <app-resources-masonry [resources]="resources$ | async" [scrollContainer]="'mat-sidenav-content'" [itemTemplate]="resourceCard"></app-resources-masonry>
</div>
