<div class="container-fluid">
  <div class="item-viewer--header">
    <h2>{{author?.id ? 'Edit': 'Add'}}</h2>
    <div class="item-viewer--actions">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="author?.id">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="confirmDelete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <button mat-icon-button (click)="clearSelectedAuthor()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form class="form-horrizontal" [formGroup]="authorForm">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" required>
      <mat-error *ngIf="firstName.errors?.required"> First Name is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" required>
      <mat-error *ngIf="lastName.errors?.required"> Last Name is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="url" placeholder="Image Url" formControlName="avatar">
    </mat-form-field>
    <app-image-uploader [url]="avatar.value" [folder]="imageUploadFolder" (urlChanged)="imageSrcChanged($event)"></app-image-uploader>

    <app-save-button (save)="save()" [formGroup]="authorForm"></app-save-button>
  </form>
</div>
