<div class="container-fluid">
  <h1>Edit Author</h1>
  <form class="form-horrizontal" [formGroup]="authorForm">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" required>
      <mat-error *ngIf="firstName.errors?.required"> First Name is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="lastName.errors?.required"> Last Name is required.</mat-error>
      </mat-form-field>      
    <mat-form-field>
      <input matInput type="url" placeholder="Image Url" formControlName="avatar">
    </mat-form-field>
    <app-image-uploader [url]="avatar.value" [folder]="imageUploadFolder" (urlChanged)="imageSrcChanged($event)"></app-image-uploader>

    <app-save-button (save)="save()" [formGroup]="authorForm"></app-save-button>
  </form>
</div>