<div class="header-with-action">
  <h2>Ultimele resurse vizualizate...</h2>
</div>

<ng-container *ngIf="loggedIn$ | async; else login">
  <app-resources-horizontal [resources]="mostRecentHistory$ | async" [loading]="loading$ | async"></app-resources-horizontal>
</ng-container>

<ng-template #login>
  <div class="banner-container">
    <div class="banner-wrapper">
      <div class="banner">
        <div class="banner-section">
          <span class="mat-subheading-1">Nimic de afișat</span>
          <div class="secondary-text">Contectează-te pentru a vedea utlimele tale accesări</div>
        </div>
        <button mat-button (click)="signIn()" color="primary">Login</button>
      </div>
    </div>
    <app-resources-horizontal loading="true"></app-resources-horizontal>
  </div>
</ng-template>
