@import '~styles-variables.scss';
@import '~@angular/material/theming';

.search-form {
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition-delay: 0.1s;
	transition: opacity 0.1s $backdrop-animation-timing-function, visibility 0.1s;
	visibility: hidden;
	z-index: 4;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	&__input {
		flex: 1;
		height: $topAppBarHeight;
		width: 100%;
		margin: 0;
		padding: 0 $topAppBarHeight 0 $topAppBarHeight;
		position: relative;
		top: 16px;
		transition: top 0.15s cubic-bezier(0.4, 0, 0.2, 1);

		font-size: 20px;
		font-weight: 500;
		box-sizing: border-box;
		border: 0;

		::placeholder {
			position: absolute;
			top: 50%;
			left: 42px;
			margin-top: -16px;
			opacity: 1;
			user-select: none;
			font-size: 20px;
			font-weight: 500;
		}

		:focus {
			outline: none;
		}
	}

	&__button {
		width: $topAppBarHeight;
		height: $topAppBarHeight;
		line-height: 0;
		// align-items: center;
		// display: -ms-flexbox;
		// display: flex;
		// -ms-flex-pack: center;
		// justify-content: center;
		z-index: 5;
	}

	&__close {
		left: 0px;
		top: 0px;
		position: absolute;
	}

	&__clear {
		top: 0px;
		position: absolute;
	}

	&.search-active {
		opacity: 1;
		pointer-events: all;
		transition: opacity 0.1s $backdrop-animation-timing-function;
		visibility: visible;

		.search-form__input {
			top: 0;
		}
	}
}

@media (max-width: 599px) {
	.search-form {
		&__input {
			height: $topAppBarHeightSm;
			padding: 0 $topAppBarHeightSm 0 $topAppBarHeightSm;
		}

		&__button {
			height: $topAppBarHeightSm;
			width: $topAppBarHeightSm;
		}
	}
}
