@import 'theming';
@import '_text';

$mat-default-ekklesia: (
  50: #e0f1f2,
  100: #b3dcdf,
  200: #80c5ca,
  300: #4dadb5,
  400: #269ca5,
  500: #008a95,
  600: #00828d,
  700: #007782,
  800: #006d78,
  900: #005a67,
  A100: #96efff,
  A200: #63e8ff,
  A400: #30e0ff,
  A700: #17dcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported in styles.srcc). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ekklesia-primary: mat-palette($mat-default-ekklesia);
$ekklesia-accent: mat-palette($mat-grey);
// The warn palette is optional (defaults to red).
$ekklesia-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$ekklesia-theme: mat-light-theme($ekklesia-primary, $ekklesia-accent, $ekklesia-warn);
