$mat-ekklesia: (
    50 : #e3f5f7,
    100 : #b9e6ec,
    200 : #8ad5e0,
    300 : #5bc4d3,
    400 : #37b8c9,
    500 : #14abc0,
    600 : #12a4ba,
    700 : #0e9ab2,
    800 : #0b91aa,
    900 : #06809c,
    A100 : #c8f3ff,
    A200 : #95e9ff,
    A400 : #62deff,
    A700 : #48d9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported in styles.srcc). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ekklesia-primary: mat-palette($mat-ekklesia, 800, 300, 900);
$ekklesia-accent: mat-palette($mat-light-blue);
// The warn palette is optional (defaults to red).
$ekklesia-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$ekklesia-theme: mat-light-theme($ekklesia-primary, $ekklesia-accent, $ekklesia-warn);
