<div class="container" *ngIf="resource">
  <mat-card>
    <mat-card-header *ngIf="(resource.author | doc | async) as author; else placeholder">
      <img mat-card-avatar class="example-header-image" [src]="author?.avatar">
      <mat-card-title>{{ resource.title }}</mat-card-title>
      <mat-card-subtitle>{{author?.firstName}}&nbsp;{{author?.lastName}}, {{resource.dateTime?.toDate() | date}}</mat-card-subtitle>
    </mat-card-header>
    <ng-template #placeholder>
      <app-material-card-header-content-loader></app-material-card-header-content-loader>
    </ng-template>
    <img mat-card-image [src]="resource.imageSrc">
    <mat-card-content>
      <p>
        {{resource.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <!-- <button mat-icon-button>
                      <mat-icon aria-label="favorite">favorite</mat-icon>
                  </button>
                  <button mat-icon-button>
                      <mat-icon aria-label="share">share</mat-icon>
                  </button> -->
      <a [href]="resource.downloadUrl" download mat-icon-button [disabled]="!resource.downloadUrl">
        <mat-icon aria-label="download">get_app</mat-icon>
      </a>
      <app-audio-play-button-shell [audioResource]='resource | convertToAudioResource'></app-audio-play-button-shell>
    </mat-card-actions>
  </mat-card>
</div>
