@import '~styles-variables.scss';

.admin-app {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: $topAppBarHeight;
	bottom: 0;
	left: 0;
	right: 0;
}

@media (max-width: 599px) {
	.admin-app {
		top: $topAppBarHeightSm;
	}
}

app-main-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.mat-sidenav-container {
	flex: 1;
}
