<mat-drawer-container fullscreen autosize>
  <mat-drawer mode="side" opened class="side-menu">
    <a [routerLink]="['resources']" mat-button class="menu-button" routerLinkActive="mat-accent">
      <mat-icon aria-label="" class="menu-icon">perm_media</mat-icon>Resources
    </a>    
    <a [routerLink]="['authors']" mat-button class="menu-button" routerLinkActive="mat-accent">
      <mat-icon aria-label="" class="menu-icon">people</mat-icon> Authors
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>