<div class="admin-app">
  <app-main-nav class="mat-elevation-z6" [identity]="identity$ | async" (toggleSidenavEvent)="sidenav.toggle()" (signOutEvent)="signOut()"></app-main-nav>
  <mat-sidenav-container fullscreen hasBackdrop="false">
    <mat-sidenav mode="over" #sidenav autoFocus="false">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/" style="height: 0;"></a> -->
        <a mat-list-item *ngFor="let item of navigationItems" routerLinkActive="active-list-item" [routerLink]="[item.routerLink]">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <span matLine>{{item.name}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
