<div class="audio-player-content">
  <div class="audio-player-artwork">
    <img [src]="audioResource.artwork" />
  </div>
  <div class="audio-player-controls">
    <div class="audio-player-header">
      <div [ngSwitch]="audioStatus">
        <button class="play-button" mat-icon-button (click)="pause()" *ngSwitchCase="'playing'">
          <mat-icon aria-label="Pause audio">pause</mat-icon>
        </button>
        <span class="seeking" *ngSwitchCase="'loading'">
          <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
        </span>
        <button class="play-button" mat-icon-button (click)="play()" *ngSwitchDefault>
          <mat-icon aria-label="Play audio">play_arrow</mat-icon>
        </button>
      </div>
      <span class="track-info-title">{{audioResource.title}}</span>
      <a class="track-download" [href]="audioResource.downloadUrl" mat-icon-button *ngIf="audioResource.downloadUrl" download="!audioResource.downloadUrl">
        <mat-icon aria-label="download">get_app</mat-icon>
      </a>
    </div>
    <div class="audio-player-waveform">
      <small class="progress-time">{{audioElement?.currentTime | secondsToTime}}</small>
      <progress class="progress-bar" #progressbar value="{{trackProgress  || 0}}" max="100" (click)="seek($event)" color="primary"></progress>
      <small class="progress-time">{{audioElement?.duration | secondsToTime}}</small>
    </div>
  </div>
</div>
