<mat-drawer-container hasBackdrop="false" class="height--inherit">
  <mat-drawer class="mat-drawer--resource" #drawer mode="over" [opened]="currentResource" (keydown.escape)="clearSelectedResource()"
    disableClose position="end" *ngIf="currentResource$ | async as currentResource">
    <app-resource [resource]="currentResource" (create)="createResource($event)" (update)="updateResource($event)"
      (publish)="publishResource($event)" (unpublish)="unpublishResource($event)" (delete)="deleteResource($event)"
      (clearSelected)="clearSelectedResource()">
    </app-resource>
  </mat-drawer>
  <mat-drawer-content>
    <app-resources-list class="height--inherit" [resources]="resources$ | async" (delete)="deleteResource($event)"
      (initializeNew)="newResource()" (select)="selectResource($event)" (publish)="publishResource($event)" (unpublish)="unpublishResource($event)"
      (delete)="deleteResource($event)"></app-resources-list>
  </mat-drawer-content>
</mat-drawer-container>
