<div class="masonry" ngClass.xs="masonry-xs" ngClass.sm="masonry-sm" ngClass.md="masonry-md" ngClass.lg="masonry-lg">
  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <div class="masonry-column-width" #masonryItemSizer></div>
  </div>
  <div>
    <ngx-masonry [options]="masonryOptions" [updateLayout]="updateMasonryLayout" [useImagesLoaded]="false" *ngIf="viewInitalized">
      <div class="masonry-item-sizer"></div>
      <div class="gutter-sizer"></div>
      <div ngxMasonryItem class="masonry-item" *ngFor="let resource of resources">
        <app-resource-card [resource]="resource" [width]="masonryColumnWidth"></app-resource-card>
      </div>
    </ngx-masonry>
  </div>
</div>
