@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz-, -o- {
    #{$prop}: $pre + calc(#{$val});
  }
  #{$prop}: calc(#{$val});
}

@mixin masonryGrid($columns, $gutterSize) {
  margin-left: $gutterSize;
  margin-right: $gutterSize;

  .gutter-sizer {
    width: $gutterSize;
  }

  .masonry-item {
    margin-bottom: $gutterSize;
  }

  .masonry-column-width {
    @include calc(flex-basis, '((100% + #{$gutterSize}) / #{$columns}) - #{$gutterSize}');
    flex-shrink: 1;
    box-sizing: border-box;
  }
}

.masonry {
  @include masonryGrid(5, 15px);
}

.masonry-lg {
  @include masonryGrid(4, 15px);
}

.masonry-md {
  @include masonryGrid(3, 15px);
}

.masonry-sm {
  @include masonryGrid(2, 15px);
}

.masonry-xs {
  @include masonryGrid(1, 15px);
}
