<div
  fxLayout="row wrap"
  fxLayoutAlign="space-between"
  class="masonry-grid"
  [style.marginLeft.px]="masonryGutter"
  [style.marginRight.px]="masonryGutter"
>
  <div
    #masonryItemSizer
    fxFlex="0 1 calc(calc(calc(100% + 25px) / 5) - 25px)"
    fxFlex.lg="0 1 calc(calc(calc(100% + 25px) / 4) - 25px)"
    fxFlex.md="0 1 calc(calc(calc(100% + 25px) / 3) - 25px)"
    fxFlex.sm="0 1 calc(calc(calc(100% + 15px) / 2) - 15px)"
    fxFlex.xs="0 1 calc(calc(calc(100% + 15px) / 1) - 15px)"
  ></div>
</div>
<div [style.marginLeft.px]="masonryGutter" [style.marginRight.px]="masonryGutter">
  <ngx-masonry
    [options]="masonryOptions"
    [updateLayout]="updateMasonryLayout"
    [useImagesLoaded]="false"
    *ngIf="viewInitalized"
  >
    <div class="masonry-item-sizer"></div>
    <div class="gutter-sizer"></div>
    <div ngxMasonryItem class="masonry-item" *ngFor="let resource of resources">
      <app-resource-card [resource]="resource" [width]="masonryColumnWidth"></app-resource-card>
    </div>
  </ngx-masonry>
</div>
