<div class="audio-player-content">
    <div class="audio-player-artwork">
        <img [src]="audioResource.artwork">
    </div>
    <div class="audio-player-controls">
        <div class="audio-player-header">
            <button class="play-button" mat-icon-button (click)="play()" *ngIf="playerState!='playing'">
                <mat-icon aria-label="Play audio">play_circle_outline</mat-icon>
            </button>
            <button class="play-button" mat-icon-button (click)="pause()" *ngIf="playerState=='playing'">
                <mat-icon aria-label="Pause audio">pause_circle_outline</mat-icon>
            </button>
            <span class="track-info-title">{{audioResource.title}}</span>
        </div>
        <div class="audio-player-waveform">
            <small class="progress-time">{{audioElement?.currentTime | secondsToTime}}</small>
            <progress #progressbar value="{{trackProgress  || 0}}" max="100" (click)="seek($event)"></progress>
            <small class="progress-time">{{audioElement?.duration | secondsToTime}}</small>
        </div>
    </div>
</div>