<div class="container-fluid mb-2">
  <div class="item-viewer--header">
    <div class="item-viewer--title">
      <h2>
        {{resource?.id ? 'Edit': 'Add'}}&nbsp;
      </h2>
      <span class="status-badge status-badge__success" *ngIf="resource?.id && resource?.published">
        <mat-icon>visibility</mat-icon>
        <span>Published</span>
      </span>
      <span class="status-badge status-badge__info" *ngIf="resource?.id && !resource?.published">
        <mat-icon>visibility_off</mat-icon>
        <span>Not Published</span>
      </span>
    </div>
    <div class="item-viewer--actions">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="resource?.id">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a [href]="resource.downloadUrl" download mat-menu-item [disabled]="!resource.downloadUrl">
          <mat-icon aria-label="Download">get_app</mat-icon>
          <span>Download</span>
        </a>
        <button mat-menu-item (click)="publishResource()" *ngIf="!resource.published">
          <mat-icon>visibility</mat-icon>
          <span>Publish</span>
        </button>
        <button mat-menu-item (click)="unpublishResource()" *ngIf="resource.published">
          <mat-icon>visibility_off</mat-icon>
          <span>Unpublish</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="deleteItemWithConfirmation(resource)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <button mat-icon-button (click)="clearSelectedItem()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form class="form-horrizontal" [formGroup]="resourceForm">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" required />
      <mat-error *ngIf="title.errors?.required">Title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Author" formControlName="author" [compareWith]="compareAuthors" required>
        <mat-option *ngFor="let item of authors$ | async" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="author.errors?.required">Author is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateTime" (focus)="picker.open()" (click)="picker.open()" readonly required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateTime.errors?.required">Date is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-chip-list #tags>
        <mat-chip *ngFor="let tag of resource?.tags" removable="true" (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Tags"
          [matChipInputFor]="tags"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Type" formControlName="type" required>
        <mat-option *ngFor="let option of resourceTypes" [value]="option.value">{{option.text}}</mat-option>
      </mat-select>
      <mat-error *ngIf="type.errors?.required">Type is required.</mat-error>
    </mat-form-field>

    <mat-form-field [class.hidden]="type.value !== 'video'">
      <input matInput placeholder="Youtube Video Id" formControlName="videoId" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Hearthis Id" formControlName="hearthisId" />
    </mat-form-field>
    <app-image-uploader [url]="resource?.cover?.url" [folder]="imageUploadFolder" (urlChanged)="imageChanged($event)"></app-image-uploader>

    <app-save-button (save)="save()" [formGroup]="resourceForm"></app-save-button>
  </form>
</div>
