<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav()" class="header__button">
    <mat-icon aria-label="Navigation menu">menu</mat-icon>
  </button>
  <a class="logo" routerLink="/">Ekklesia Admin</a>
  <span class="example-spacer"></span>
  <ng-container *ngIf="user">
    <button mat-icon-button class="header__button user-display" [matMenuTriggerFor]="profileMenu" color="primary">
      <span class="user-display__initials">{{ (user.profile?.name || user.displayName) | userInitials }}</span>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="signOut()">Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
