<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav()" class="header__button">
    <mat-icon aria-label="Navigation menu">menu</mat-icon>
  </button>
  <a class="logo" routerLink="/">Ekklesia Admin</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="header__button user-display" [matMenuTriggerFor]="profileMenu" color="primary">
    <span *ngIf="!identity.profile?.picture" class="user-display__initials">{{ identity.profile?.name | userInitials: true }}</span>
    <img *ngIf="identity.profile?.picture" class="user-display__picture" [src]="identity.profile?.picture" />
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="signOut()">Sign out</button>
  </mat-menu>
</mat-toolbar>
