<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav()" class="header__button">
    <mat-icon aria-label="Navigation menu">menu</mat-icon>
  </button>
  <a class="logo" routerLink="/">Ekklesia</a>
  <span class="example-spacer"></span>
  <div *ngIf="(user$ | async) as user">
    <ng-container *ngIf="!user.isAnonymous; else showLogin">
      <button mat-icon-button class="header__button user-display" [matMenuTriggerFor]="profileMenu" color="primary">
        <span class="user-display__initials">{{ getInitials(user.profile?.name ||user.displayName) }}</span>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button [routerLink]="['/admin']" mat-menu-item>Admin Portal</button>
        <button mat-menu-item (click)="signOut()">Logout</button>
      </mat-menu>
    </ng-container>
    <ng-template #showLogin>
      <button mat-icon-button (click)="anonymousUpgrade()" class="header__button">
        <mat-icon aria-label="Login">person</mat-icon>
      </button>
    </ng-template>
  </div>
  <app-resources-search></app-resources-search>
</mat-toolbar>
