.admin {
  mat-drawer {
    width: 500px;

    .mat-drawer--header,
    .item-viewer--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
