/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import "styles-reset";

// @import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Import theme
@import "themes/default-theme.scss";

// Reset theme
@import "styles-reset.scss-theme";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@import "app/app.component.scss-theme";
@import "app/shared/components/resources-search/resource-search.components.scss-theme";
@import "app/shared/components/main-nav/main-nav.component.scss-theme";
@import "app/shared/components/audio-player/audio-player.component.scss-theme";

@mixin custom-components-theme($theme) {
  @include ekklesia-styles-reset-theme($theme);
  @include ekklesia-app-component-theme($theme);
  @include ekklesia-app-resource-search-theme($theme);
  @include ekklesia-app-main-nav-theme($theme);
  @include ekklesia-app-audio-player-component-theme($theme)
}

.default-theme {
  @include angular-material-theme($ekklesia-theme);
  @include custom-components-theme($ekklesia-theme);
}

// .container-fluid {
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

.form-horrizontal {
  display: flex;
  flex-direction: column;
}

.top-app-bar-margin {
  margin-top: 64px;
}

.height--inherit {
  height: inherit;
}

.mat-drawer--header,
.item-viewer--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cursor--pointer {
  cursor: pointer;
}

.text-danger {
  color: red;
}

app-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin-bottom: 24px;
}

body {
  padding-bottom: 100px;
}

*,
*::before,
*::after {
  box-sizing: initial;
}
