* {
  &:active,
  :focus {
    outline: none !important;
  }
}

body {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 599px) {
  mat-drawer,
  mat-sidenav {
    width: 100vw;
  }
}
