@import '~stylings/text';

.container-horizontal {
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .horizontal_item {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    cursor: pointer;

    .title {
      @extend .text-elipsis;
      padding-top: 0.5em;
    }

    .subtitle {
      @extend .text-elipsis;
    }
  }
}
