<mat-card class="resource-card">
  <mat-card-header *ngIf="(resource.author | doc | async) as author; else placeholder">
    <img mat-card-avatar class="example-header-image" [src]="author?.avatar" />
    <mat-card-title [routerLink]="[ resource.id ]">{{ resource.title }}</mat-card-title>
    <mat-card-subtitle>
      {{author?.firstName}}&nbsp;{{author?.lastName}}, {{resource.dateTime?.toDate() | date}}
    </mat-card-subtitle>
  </mat-card-header>
  <ng-template #placeholder>
    <app-material-card-header-content-loader></app-material-card-header-content-loader>
  </ng-template>
  <div class="mat-card-image" *ngIf="resource.imageSrc" [style.height.px]="height" [routerLink]="[ resource.id ]">
    <img [src]="resource.imageSrc" alt="" />
  </div>
  <div *ngIf="resource.tags?.length" align="end">
    <span *ngFor="let item of resource.tags">#{{item.name}}&nbsp;</span>
  </div>
  <mat-card-actions align="end">
    <!-- <button mat-icon-button>
            <mat-icon aria-label="favorite">favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="share">share</mat-icon>
        </button> -->
    <div fxFlex></div>
    <a [href]="resource.downloadUrl" download mat-icon-button [disabled]="!resource.downloadUrl">
      <mat-icon aria-label="download">get_app</mat-icon>
    </a>
    <app-audio-play-button-shell [audioResource]="resource | convertToAudioResource"></app-audio-play-button-shell>
  </mat-card-actions>
</mat-card>
