<mat-card class="resource-card">
    <mat-card-header *ngIf="(resource.author | doc | async) as author">
        <img mat-card-avatar class="example-header-image" [src]="author?.avatar">
        <mat-card-title>{{ resource.title }}</mat-card-title>
        <mat-card-subtitle>{{author?.firstName}}&nbsp;{{author?.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <div class="mat-card-image" #card [style.height.px]="computeHeight(width)">
        <div class="placeholder">
            <img *ngIf="resource.imageSrc" [src]="resource.imageSrc" alt="">
        </div>
    </div>
    <mat-card-content>
        <p>
            {{resource.description}}
        </p>
        <p>{{resource.dateTime?.toDate() | date}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button>
            <mat-icon aria-label="favorite">favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="share">share</mat-icon>
        </button>
        <div fxFlex></div>
        <a [href]="resource.downloadUrl" download mat-icon-button [disabled]="!resource.downloadUrl">
            <mat-icon aria-label="download">get_app</mat-icon>
        </a>
        <button mat-icon-button (click)="play()" [disabled]="!resource.hearthisId">
            <mat-icon aria-label="listen">play_arrow</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>