<mat-card class="resource-card">
    <mat-card-header>
        <img mat-card-avatar class="example-header-image" [src]="resource.author?.avatar">
        <mat-card-title>{{resource.title}}</mat-card-title>
        <mat-card-subtitle>{{resource.author?.firstName}}&nbsp;{{resource.author?.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="resource.imageSrc" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{resource.description}}
        </p>
        <p>{{resource.dateTime?.toDate() | date}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button>
            <mat-icon aria-label="favorite">favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="share">share</mat-icon>
        </button>
        <div fxFlex></div>
        <button mat-icon-button>
            <mat-icon aria-label="download">get_app</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="listen">play_arrow</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
