<div ngClass.lt-md="lt-md" class="contact-container">
  <div class="contact-container__map">
    <iframe
      id="mapcanvas"
      src="https://maps.google.com/maps?q=Biserica%20Ekklesia,%20Oradea&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    >
      <div style="overflow:hidden;"><div id="gmap_canvas"></div></div>
    </iframe>
  </div>
  <div class="mat-typography contact-container__concat-info">
    <div class="contact-container__concat-info__header">
      <h1>Contact</h1>
    </div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>access_time</mat-icon>
        <p mat-line>În fiecare Duminică, ora 10:00 - ONLINE</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <p mat-line>Str. Theidor Pallady Nr 5</p>
        <p mat-line>Bihor, Oradea, Romania</p>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-icon href="tel:+40771151272">
          <mat-icon>call</mat-icon>
        </a>
        <p mat-line>
          <a href="tel:+40771151272">(+40) 771 151 272</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-icon href="mailto:bisericaekklesia@outlook.com">
          <mat-icon>mail_outline</mat-icon>
        </a>
        <p mat-line>
          <a href="mailto:ekklesiaoradea@outlook.com">ekklesiaoradea@outlook.com</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <p mat-line class="pointer" title="Copiaza contul">
          LEI
          <button mat-button (click)="copyIban($event, lei)">Copiaza</button>
          <br />
          {{lei}}
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <p mat-line class="pointer" title="Copiaza contul">
          EURO
          <button mat-button (click)="copyIban($event, euro)">Copiaza</button>
          <br />
          {{euro}}
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <p mat-line class="pointer" title="Copiaza contul">
          USD
          <button mat-button (click)="copyIban($event, euro)">Copiaza</button>
          <br />
          {{usd}}
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
