<div ngClass.lt-md="lt-md" class="contact-container">
  <div class="contact-container__map">
    <iframe
      id="mapcanvas"
      src="https://maps.google.com/maps?q=Biserica%20Ekklesia,%20Oradea&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    >
      <div style="overflow:hidden;"><div id="gmap_canvas"></div></div>
    </iframe>
  </div>
  <div class="mat-typography contact-container__concat-info">
    <div class="contact-container__concat-info__header">
      <h1>Contact</h1>
    </div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>access_time</mat-icon>
        <p mat-line>În fiecare Duminică, ora 10:00</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <p mat-line>Casa de Cultură</p>
        <p mat-line>Piaţa 1 Decembrie nr. 1, Oradea</p>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-icon href="tel:+40744899007">
          <mat-icon>call</mat-icon>
        </a>
        <p mat-line>
          <a href="tel:+40744899007">(+40) 744 899 007</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-icon href="mailto:bisericaekklesia@outlook.com">
          <mat-icon>mail_outline</mat-icon>
        </a>
        <p mat-line>
          <a href="mailto:bisericaekklesia@outlook.com">bisericaekklesia@outlook.com</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <p mat-line>Donație</p>
        <p mat-line>
          LEI - R089 RZBR 0000 0600 1237 5312
          <br />
          EURO - R002 RZBR 0000 0600 1808 9984
          <br />
          USD - R074 RZBR 0000 0600 1678 1807
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
