@import '../../../styles-variables.scss';

.contact-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - #{$topAppBarHeight});

  &__map {
    flex: 1 auto;
    iframe {
      height: 100%;
      width: 100%;
      // https://stackoverflow.com/questions/9129182/iframe-100-height-causes-vertical-scrollbar
      display: block;
    }
  }

  &__concat-info {
    padding: 20px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: auto;

    a {
      text-decoration: none;
    }

    &__header {
      border-bottom: dotted 5px;
    }
  }
}

.contact-container.lt-md {
  flex-direction: column;

  .contact-container__map {
    flex: none;
    height: 330px;
  }
}
